<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 3</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>

<h1>Exercise 3</h1>

Add new customer
<form>
    <label>First name</label>
    <input id="firstName" type="text" placeholder="First name">
    <label>Last name</label>
    <input id="lastName" type="text" placeholder="Last name">
    <label>Username</label>
    <input id="username" type="text" placeholder="Username">
    <label>Gender</label>
    <select id="gender">
        <option>Male</option>
        <option>Female</option>
    </select>

    <label>Discount</label>
    <input type="radio" name="discount" id="discount1">10%
    <input type="radio" name="discount" id="discount2">15%
    <input type="radio" name="discount" id="discount3">20%
    <label>Other</label>
    <input type="checkbox" value="">customer card
    <input type="checkbox" value="">subscription
    <button>Add customer</button>
</form>

Notifications Panel
    <a href="#">New Comment <span><em>3 minutes ago</em></span> </a>
    <a href="#">3 New Rating <span><em>15 minutes ago</em></span> </a>
    <a href="#">New message<span><em>50 minutes ago</em></span></a>
    <a href="#">View All Alerts</a>

Customers
<table>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    <tr>
        <td>1</td>
        <td>John</td>
        <td>Smith</td>
        <td>@jsmith</td>
        <td>26</td>
        <td>M</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@jacob</td>
        <td>19</td>
        <td>M</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mary</td>
        <td>Roy</td>
        <td>@rm</td>
        <td>42</td>
        <td>F</td>
    </tr>
</table>
</body>
</html>
